!!!

html(lang="en")
  head
    title Junkyard Jumbotron Admin

    link(rel="stylesheet", href="css/jjadmin.css", type="text/css")
    script(type="text/javascript", src="http://code.jquery.com/jquery-1.4.4.min.js")
    script(type="text/javascript", src="javascript/jquery.cookie.min.js")
    script(type="text/javascript", src="javascript/jquery.parsequery.min.js")
    script(type="text/javascript", src="javascript/json2.min.js")

    script(type="text/javascript", src="javascript/jjclient.js")
    script(type="text/javascript", src="javascript/jjadmin.js")
  body
    noscript 
      div#noscript
        p The Junkyard Jumbotron requires javascript.
        p Please enable javascript in your browser preferences.
    h1 Junkyard Jumbotrons
    div#jjControls
      div#jjPageControl
        a#jjPagePrev(href='#') &lt;Prev
        span#jjPageCur 0 of 0
        span#jjTotal= fullLength
        a#jjPageNext(href='#') &nbsp;Next&gt;
      div#jjFilterControl
        | Show
        select#jjFilter
          option(value='all') All
          option(value='tried', selected='true') Calibration Tried
          option(value='failed') Calibration Failed
          option(value='calibrated') Calibrated
          option(value='uploaded') Images Uploaded
          option(value='active') Active
      div#jjPeriodControl
        | From
        select#jjPeriod
          option(value='all', selected='true') All Time
          option(value='today') Last 24 hours
    div#jjMain
      table
        th
          a#jjSortName(href='#') Name
        th
          a#jjSortCreate(href='#') Created
        th
          a#jjSortAccess(href='#') Last Msg
        th
          a#jjSortNumFound(href='#') Displays
        th
          a Mode
        div#jjTable

          - each jumbotron in jumbotrons
            tr.jjJumbotron
              td(title=jumbotron.name)= nameToString(jumbotron.name)
              td= timeToString(jumbotron.createTime)
              td= timeToString(jumbotron.lastMessageTime())
              td= jumbotron.numCalibratedDisplays()
              td= jumbotron.mode

            tr
              td
              - each calibImage in (jumbotron.calibImages || [])
                td
                  a(href=calibImage.replace('public/',''))
                    img.jjCalibImage(src=calibImage.replace('public/','') + '?tn=1')
              td 
              - each image in jumbotron.images
                td
                  -if (! image.source)
                    b BAD
                  -else
                    a(href=image.source.replace('public/',''))
                      img.jjImage(src=image.source.replace('public/', '') + '?tn=1')
