!!!

html(lang="en")
  head
    title Junkyard Jumbotron Admin

    link(rel="stylesheet", href="css/jjadmin.css", type="text/css")
    script(type="text/javascript", src="http://code.jquery.com/jquery-1.4.4.min.js")
    script(type="text/javascript", src="javascript/jquery.cookie.min.js")
    script(type="text/javascript", src="javascript/jquery.parsequery.min.js")
    script(type="text/javascript", src="javascript/json2.min.js")

    script(type="text/javascript", src="javascript/jjclient.js")
    script(type="text/javascript", src="javascript/jjadmin.js")
  body
    noscript 
      div#noscript
        p The Junkyard Jumbotron requires javascript.
        p Please enable javascript in your browser preferences.
    h1 Junkyard Jumbotrons
    div#jjControls
      div#jjPageControl
        a#jjPagePrev(href='#') &lt;Prev
        span#jjPageCur 0 of 0
        span#jjTotal= fullLength
        a#jjPageNext(href='#') &nbsp;Next&gt;
      div#jjFilterControl
        | Filter
        select#jjFilter
          option(value='all') All
          option(value='tried', selected='true') Calibration Tried
          option(value='failed') Calibration Failed
          option(value='calibrated') Calibrated
          option(value='uploaded') Images Uploaded
    div#jjMain
      table
        th
          a#jjSortName(href='#') Name
        th
        th
          a#jjSortAccess(href='#') Accessed
        th
          a#jjSortCreate(href='#') Created
        th
          a Mode
        div#jjTable

          - each jumbotron in jumbotrons
            tr.jjJumbotron
              td(title=jumbotron.name)= nameToString(jumbotron.name)
              td
              td= jumbotron.isActive() ? 'active' : timeToString(jumbotron.accessTime)
              td= timeToString(jumbotron.createTime)
              td= jumbotron.mode

            - var gotDisplay = false
            - each display in jumbotron.displays
              - gotDisplay = true
              tr.jjDisplay
                td
                td(title=display.clientId)= 'disp ' + display.idx
                td= display.isActive() ? 'active' : timeToString(display.accessTime)
                td(colspan=2, title=display.viewport.toString())= vpToString(display.viewport)
            - if (! gotDisplay)
              tr.jjDisplay
                td
                td(colspan=2) no displays

            tr
              td
              td calib
                br
                | images
              - each calibImage in (jumbotron.calibImages || [])
                td
                  a(href=calibImage.replace('public/',''))
                    img.jjCalibImage(src=calibImage.replace('public/','') + '?tn=1')

            tr
              td
              td images
              - each image in jumbotron.images
                td
                  -if (! image.source)
                    b BAD
                  -else
                    a(href=image.source.replace('public/',''))
                      img.jjImage(src=image.source.replace('public/', '') + '?tn=1')
